<%= form_for([company, hiring_manager]) do |f| %>
  <% if hiring_manager.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(hiring_manager.errors.count, "error") %> prohibited this hiring_manager from being saved:</h2>

      <ul>
      <% hiring_manager.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.fields_for :user do |user| %>
        <%# todo move this to a user fields partial %>
      <%= user.hidden_field :id %>

      <div class="field">
        <%= user.label :first_name %>
        <%= user.text_field :first_name %>
      </div>

        <div class="field">
          <%= user.label :last_name %>
          <%= user.text_field :last_name %>
        </div>

        <div class="field">
          <%= user.label :email %>
          <%= user.email_field :email %>
        </div>
  <% end %>

  <div class="field">
    <%= f.label :position %>
    <%= f.text_field :position %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
