<p id="notice"><%= notice %></p>

<h1>Hiring Managers for <%= @company.name %></h1>

<table>
  <thead>
    <tr>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Email</th>
      <th>Position</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @hiring_managers.each do |hiring_manager| %>
      <tr>
        <td><%= hiring_manager.user.first_name %></td>
        <td><%= hiring_manager.user.last_name %></td>
        <td><%= hiring_manager.user.email %></td>
        <td><%= hiring_manager.position %></td>
        <td><%= link_to 'Show', [@company, hiring_manager] %></td>
        <td><%= link_to 'Edit', edit_company_hiring_manager_path(@company, hiring_manager) %></td>
        <td><%= link_to 'Destroy', [@company, hiring_manager], method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Hiring Manager', new_company_hiring_manager_path(@company) %>
