<p id="notice"><%= notice %></p>

<p>
  <strong>First Name:</strong>
  <%= @hiring_manager.user.first_name %>
</p>

<p>
  <strong>Last Name:</strong>
  <%= @hiring_manager.user.last_name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @hiring_manager.user.email %>
</p>

<p>
  <strong>Position:</strong>
  <%= @hiring_manager.position %>
</p>

<%= link_to 'Edit', edit_company_hiring_manager_path(@company, @hiring_manager) %> |
<%= link_to 'Back', company_hiring_managers_path(@company) %>
