<%= form_for(candidate) do |f| %>
  <% if candidate.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(candidate.errors.count, "error") %> prohibited this candidate from being saved:</h2>

      <ul>
      <% candidate.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user_id %>
    <%= f.number_field :user_id %>
  </div>

  <div class="field">
    <%= f.label :first_name %>
    <%= f.text_field :first_name %>
  </div>

  <div class="field">
    <%= f.label :last_name %>
    <%= f.text_field :last_name %>
  </div>

  <div class="field">
    <%= f.label :email %>
    <%= f.text_field :email %>
  </div>

  <div class="field">
    <%= f.label :phone %>
    <%= f.text_field :phone %>
  </div>

  <div class="field">
    <%= f.label :desired_position %>
    <%= f.text_field :desired_position %>
  </div>

  <div class="field">
    <%= f.label :current_company %>
    <%= f.text_field :current_company %>
  </div>

  <div class="field">
    <%= f.label :linked_in_url %>
    <%= f.text_field :linked_in_url %>
  </div>

  <div class="field">
    <%= f.label :twitter_url %>
    <%= f.text_field :twitter_url %>
  </div>

  <div class="field">
    <%= f.label :git_hub_url %>
    <%= f.text_field :git_hub_url %>
  </div>

  <div class="field">
    <%= f.label :portfolio_url %>
    <%= f.text_field :portfolio_url %>
  </div>

  <div class="field">
    <%= f.label :website_url %>
    <%= f.text_field :website_url %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
