<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @company.name %>
</p>

<p>
  <strong>Street Address 1:</strong>
  <%= @company.address.street_address1 %>
</p>

<p>
  <strong>Street Address 2:</strong>
  <%= @company.address.street_address2 %>
</p>

<p>
  <strong>City:</strong>
  <%= @company.address.city %>
</p>

<p>
  <strong>:County:</strong>
  <%= @company.address.county %>
</p>

<p>
  <strong>State:</strong>
  <%= @company.address.state %>
</p>

<p>
  <strong>Country:</strong>
  <%= @company.address.country %>
</p>

<p>
  <strong>Zip:</strong>
  <%= @company.address.zip %>
</p>

<p>
  <strong>Cloudbase url:</strong>
  <%= @company.cloudbase_url %>
</p>

<p>
  <strong>Linkedin url:</strong>
  <%= @company.linkedin_url %>
</p>

<p>
  <strong>Glassdoors url:</strong>
  <%= @company.glassdoors_url %>
</p>

<%= link_to 'Edit', edit_company_path(@company) %> |
<%= link_to 'Back', companies_path %>
