<p id="notice"><%= notice %></p>

<h1>Roles for <%= @company.name %></h1>

<table>
  <thead>
    <tr>
      <th>Company</th>
      <th>Hiring manager</th>
      <th>Name</th>
      <th>Min rate</th>
      <th>Max rate</th>
      <th>Employment time</th>
      <th>Employment type</th>
      <th>Sponsors visa</th>
      <th>City</th>
      <th>State</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @roles.each do |role| %>
      <tr>
        <td><%= role.company.name %></td>
        <td><%= role.hiring_manager&.user.first_name %> <%= role.hiring_manager&.user.last_name %></td>
        <td><%= role.name %></td>
        <td><%= role.min_rate %></td>
        <td><%= role.max_rate %></td>
        <td><%= role.employment_time %></td>
        <td><%= role.employment_type %></td>
        <td><%= role.sponsors_visa %></td>
        <td><%= role.city %></td>
        <td><%= role.state %></td>
        <td><%= link_to 'Show', [@company, role] %></td>
        <td><%= link_to 'Edit', edit_company_role_path(@company, role) %></td>
        <td><%= link_to 'Destroy', [@company, role], method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Role', new_company_role_path(@company) %>
