<!DOCTYPE html>
<html>
  <head>
    <title>Valley Advisors</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <div id="header">
      This is a place for a nice company logo from Sergio
      <div id="log-in-status">
        <% if user_signed_in? %>
            <%= current_user.first_name %> <%= current_user.last_name %>
            <%= link_to "Sign out", destroy_user_session_path, method: :delete %>
        <% else %>
            <%= link_to "Log in", new_user_session_path %>
            <%= link_to "Sign up", new_user_registration_path %><br />
        <% end %>
      </div>
      <hr>
      <%= if current_user&.role == 'advisor' %>
        <%= render 'toolbars/advisor_toolbar' %>
      <% end %>
    </div>
    <div id="content">
      <div>
        <p class="notice"><%= notice %></p>
        <p class="alert"><%= alert %></p>
      </div>
      <%= yield %>
    </div>
    <div id="footer">
      <hr>
      <p>Developed by Alex Marchenko</p>
    </div>
  </body>
</html>
