<!DOCTYPE html>
<html>
  <head>
    <title>Valley Advisors</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <div id="header">
      This is a place for a nice company logo from Sergio
      <hr>
    </div>
    <div id="context">
      <div>
        <p class="notice"><%= notice %></p>
        <p class="alert"><%= alert %></p>
      </div>
      <%= yield %>
    </div>
    <div id="footer">
      <hr>
      <p>Developed by Alex Marchenko</p>
    </div>
  </body>
</html>
